/* Elastislide Style */
.es-carousel-wrapper{
	background: rgba(44,44,44,0.7);
	padding:10px 10px 0px;
	position:relative;
	position:relative;
	margin-bottom:20px;
}
.es-carousel{
	overflow:hidden;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	width: 100px !important;
	float:left;
	display:block;
	margin-right: 15px !important;

}
.es-carousel ul li a{
	display:block;
	opacity:0.5;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li a:hover,.es-carousel ul li.selected a{
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
    width: 100%;
    height: 100%;
    max-height: 61px;
    max-width: 100px;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(../img/slider/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}

/*------------------------------------------*/
.slider-detail {
	height: 430px;
	width: 100%;
	margin-bottom: 30px;
}
.rg-gallery {
	position: relative;
}
.rg-thumbs {
	width: 100%;
	margin-top: 335px;
	position: absolute;
	max-width: 100%;
}
.rg-image-nav {
	position: relative;
}
.rg-image-nav a{
	position:absolute;
	top:210px;
	left:30px;
	background:#000 url(../img/slider/nav.png) no-repeat -60% 50%;
	width:40px;
	height:40px;
	display: inline-block;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
}
.rg-image-nav a.rg-image-nav-next{
	right:30px;
	left:auto;
	background-position:150% 50%;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../img/slider/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}